<div class="page">
  <header class="header">
    <div class="breadcrumb">
      <a routerLink="/">Bari</a>
      <span>•</span>
      <span>Preferiti</span>
    </div>

    <h1>I tuoi posti preferiti</h1>
  </header>

  <main class="content">
    <ng-container *ngIf="favorites.length; else empty">
      <app-place-card
        *ngFor="let place of favorites"
        [place]="place"
      ></app-place-card>
    </ng-container>

    <ng-template #empty>
      <p>Non hai ancora aggiunto nulla ai preferiti ✨</p>
    </ng-template>
  </main>
</div>
